@using Electronicsphone.Models
@using PagedList.Mvc
@model PagedList.PagedList<Product>
@{
	ViewBag.Title = "Dienthoai";
	Layout = "~/Views/Shared/_Phone.cshtml";
}
<div class="logoBranch">
	<table>
		<tr>
			@foreach (Electronicsphone.Models.Brand_Product item in ViewBag.Brand)
			{
				<td>
					<a href="@Url.Action("LoaiDienThoai","Home",new { id=item.MaNhaSX})")><img src="@item.HinhNhaSX"></a>
				</td>
			}

	</table>
</div>
<div class="Array">
	<table class="Array1">
		<tr>
			<td>Chọn mức giá:</td>
			<td>
				@Html.ActionLink("Dưới 2 triệu", "Dienthoai", new { SortOrder = ViewBag.Price1 })

			</td>
			<td>

				@Html.ActionLink("Từ 2-4 triệu", "Dienthoai", new { SortOrder = ViewBag.Price2 })
			</td>
			<td>

				@Html.ActionLink("Từ 4-7 triệu", "Dienthoai", new { SortOrder = ViewBag.Price3 })
			</td>

			<td>

				@Html.ActionLink("Từ 7-13 triệu", "Dienthoai", new { SortOrder = ViewBag.Price4 })
			</td>

			<td>

				@Html.ActionLink("Trên 13 triệu", "Dienthoai", new { SortOrder = ViewBag.Price5 })
			</td>

			<td class="Arrange">Sắp xếp theo: </td>
			<div class="ArrangeLaptop">
				<td class="ColorPrice1">
					@Html.ActionLink("Giá cao", "Dienthoai", new { SortOrder = ViewBag.PriceHigh })
				</td>
				<td class="ColorPrice1">
					@Html.ActionLink("Giá thấp", "Dienthoai", new { SortOrder = ViewBag.PriceLow })

				</td>
			</div>

		</tr>
	</table>
</div>
<div class="ProductPhone">

	@foreach (var item in Model)
	{
		<div class="ProductPhone1">
			<a href="@Url.Action("Thong_tin_san_pham","Home",new { id=item.Masp})">
				<div class="ProductPhone2">
					<img src="@item.HinhAnh">
				</div>
				<div class="ProductPhone3">
					<h6>@item.Tensp</h6>
					<p class="price1">@String.Format("{0:0,0}", item.Gia) đ</p>
				</div>
			</a>
		</div>

	}


</div>

<div class="page_1" style="width:max;height:60px;background:#E4E4E4;margin-left:80px;margin-right:80px;color:red;">
	<div class="page_2" style="text-align:center;">
		Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
		<div class="page_3" style="width:100px;height:20px;background:#E4E4E4;margin-left:550px;">
			@Html.PagedListPager(Model, page => Url.Action("Dienthoai",
		new { page = page }))
		</div>

	</div>
</div>
