<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chi tiết sản phẩm</title>
	<link href="~/Content/css/Style.css" type="text/css" rel="stylesheet">
	<link href="~/Content/css/Fastion.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<script src="~/Content/js/big.js" type="text/javascript"></script>
	<script src="~/Content/js/long.js" type="text/javascript"></script>
	<script src="~/Content/js/small.js" type="text/javascript"></script>
	<header>
		<nav class="navbar navbar-light" style="background-color: red;">
			<nav class="navbar navbar-light bg-light justify-content-between" style="margin-left: 65px;">
				<a href="/Sales_MVC/Home" class="navbar-brand">Electronics Mountain</a>
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</nav>
			<div id="top-header" style="margin-right: 80px;background-color: red;">
				<nav>
					<ul class="active">
						<li>
							@Html.ActionLink("Điện thoại", "Dienthoai", "Home")
						</li>
						<li>
							@Html.ActionLink("Máy tính", "Laptop", "Home")
						</li>
						<li>
							@Html.ActionLink("Phụ kiện", "PhuKien", "Home")
						</li>
						<li>
							@Html.ActionLink("Giỏ hàng", "Giohang", "ShoppingCart")
						</li>
						<li>
							@Html.ActionLink("Lịch sử", "Lich_su_dat_hang", "Home")
						</li>
					</ul>
				</nav>
			</div>
		</nav>

		@RenderBody()
		
		<script src="https://apps.elfsight.com/p/platform.js" defer></script>
		<div class="elfsight-app-a9959b57-feda-471d-b2d9-bb55c3521e3b"></div>
		<div class="facebook">
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=large&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			<div id="fb-root"></div>
			<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>
			<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="10" data-width=""></div>
		</div>
		<div class="Shipper">


			<table>
				<tr>
					<td class="Shipper1">
						<div class="ShipperDetail1">Giao hàng hỏa tốc<br> trong1 giờ</div>
					</td>
					<td class="Shipper3">Thanh toán linh hoạt: tiền<br>mặt, visa/master,trả góp</td>
					<td class="Shipper3">Trải nghiệm sản phẩm tại nhà</td>
					<td class="Shipper3">Lỗi đổi tại nhà trong 1 ngày</td>
					<td class="Shipper2">
						<div class="ShipperDetail2">
							Hỗ trợ suốt thời gian sử dụng.<br> Hotline: 1800.1763
						</div>
					</td>
				</tr>
			</table>
		</div>
		<footer>
			<div class="footer_1">
				<table id="footer_2">
					<tr>
						<td>
							<div class="footer_3">
								<p>Tìm hiểu về mua trả góp</p>
								<p>Chính sách bảo hành</p>
								<p>Chính sách đổi trả</p>
								<p>Giao hàng và thanh toán</p>
							</div>

						</td>
						<td>
							<div class="footer_4">
								<p>Giới thiệu công ty</p>
								<p>Tuyển dụng</p>
								<p>Gửi góp ý, khiếu nại</p>
								<p>Tìm siêu thị</p>
							</div>

						</td>
						<td>
							<div class="footer_5">
								<table id="	footer_6">
									<tr>
										<td>Gọi mua hàng</td>
										<td class="footer_7">1800.1060</td>
										<td> (7:30 - 22:00)</td>
									</tr>
									<tr>
										<td>Gọi khiếu nại</td>
										<td class="footer_7">1800.1062</td>
										<td> (8:00 - 21:30)</td>
									</tr>
									<tr>
										<td>Gọi bảo hành</td>
										<td class="footer_7">1800.1064</td>
										<td> (8:00 - 21:00)</td>
									</tr>
									<tr>
										<td>Kỹ thuật</td>
										<td class="footer_7">1800.1763</td>
										<td> (7:30 - 22:00)</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="detail">
				<p>
					© 2019. Công ty cổ phần Phone Mountain. GPDKKD: 0346135911 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. Địa chỉ: 128 Điên Biên Phủ, P. Tân Định, Q.Bình Thạnh, TP.Hồ Chí Minh. Điện thoại: 18001060. Email: cskh@phonemountain.com. Chịu trách nhiệm nội dung: Lê Đình Sơn.<br> Xem chính sách sử dụng web
				</p>
			</div>
		</footer>
	</header>

</body>
</html>