@model IEnumerable<Electronicsphone.Models.Product>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:red">Sản phẩm điện thoại</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<p>
	@Html.ActionLink("Loại sản phẩm","Index","Brand_Product")
</p>
@using (Html.BeginForm())
{
	<p>
		Tên sản phẩm: @Html.TextBox("SearchString")  <input type="submit" value="Tìm kiếm" />
	</p>
}
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Tensp)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Gia)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Soluong)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.HinhAnh)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.Manhinh)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.HeDieuHanh)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CPU)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RAM)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BoNhoTrong)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DungLuongPin)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CameraTruoc)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CameraSau)
		</th>

	</tr>

	@foreach (var item in Model)
	{
		<tr>

			<td>
				@Html.DisplayFor(modelItem => item.Tensp)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Gia)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Soluong)
			</td>
			<td>
				<img src="@item.HinhAnh" alt="Image" width="120" />
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Manhinh)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.HeDieuHanh)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CPU)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RAM)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BoNhoTrong)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DungLuongPin)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CameraTruoc)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CameraSau)
			</td>




			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Masp }) |
				@Html.ActionLink("Details", "Details", new { id = item.Masp }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Masp })
			</td>
		</tr>
	}

</table>
