@model Electronicsphone.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red">Tạo mới phụ kiện</h2>

@using (Html.BeginForm("Create","PhuKien",FormMethod.Post,new { @enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.Masp, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Masp, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Masp, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Tensp, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Tensp, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Tensp, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Soluong, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Soluong, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Soluong, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input type="file" name="Image" class="form-control" />
			@Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.TrongLuong, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.TrongLuong, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.TrongLuong, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.KetNoiCungLuc, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.KetNoiCungLuc, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.KetNoiCungLuc, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.CachKetNoi, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.CachKetNoi, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.CachKetNoi, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.TimeSuDung, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.TimeSuDung, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.TimeSuDung, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.TimeSac, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.TimeSac, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.TimeSac, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Kind_PhuKiens, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("Kind_PhuKien", new SelectList(Model.Kind_PhuKiens, "Id_Kind", "Kind_Name"), new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Kind_PhuKiens, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.MaLoai, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("Kind_Product", new SelectList(Model.Kind_Products, "MaLoaiSP", "TenLoaiSP"), new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.MaLoai, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
