@model Electronicsphone.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


	<h3 style="color:red">Chắc chắn bạn muốn xóa sản phẩm này chứ ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
			<img src="@Model.HinhAnh" alt="Image" width="120" />
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.TrongLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.KetNoiCungLuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KetNoiCungLuc)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.TimeSuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSac)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
